body {
    margin: 0;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 55px 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    box-shadow: 0 2px 5px black;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.search-bar input {
    flex: 1;
    padding: 8px 10px 8px 30px; 
    height: 25px;
    border: 1px solid lightgray;
    border-radius: 30px;
    outline: none;
    margin-left: 10px;
}

.search-bar i {
    position: absolute;
    margin-left: 20px; 
    color: black;
}

.search-filters {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    color: #000000;
}

::placeholder {
    color: black;
}

.header-nav {
    position: fixed;
    top: 55px;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.header-nav-icon {
    text-align: center;
    font-size: 13px;
    color: black;
}

.header-nav-icon img {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.footer-nav {
    position: fixed;
    bottom: 0; 
    width: 100%;
    background-color: white; 
    padding: 10px 0; 
    text-align: center; 
    z-index: 1; 
    display: flex;
    justify-content: space-around;
    margin-left: -50px;
    }
    
.footer-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #bbb;
    flex: 1;
    }
    
.footer-nav-icon {
    font-size: 20px; 
    margin-bottom: 5px; 
    }
    
.footer-nav-button-label {
    font-size: 10px; 
    }
    
.explore-nav {
    color: red !important;
    }
    
main {
    padding: 160px 40px 40px; 
}

.listing {
    margin-bottom: 20px;
}

.listing-image {
    position: relative;
}

.listing-image img {
    width: 100%;
    border-radius: 10px;
}

.live-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.share-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 25px;
    height: 25px;
}

.listing-info {
    margin-top: 10px;
}

.listing-info h2 {
    margin: 0;
    font-size: 18px;
}

.listing-info p {
    margin: 5px 0;
    color: #383838;
}